<!--
 # This file is part of package:
 # Sylius Size Chart Plugin
 #
 # @copyright MADCODERS Team (www.madcoders.co)
 # @licence For the full copyright and license information, please view the LICENSE
 #
 # Architects of this package:
 # @author Leonid Moshko <l.moshko@madcoders.pl>
 # @author Piotr Lewandowski <p.lewandowski@madcoders.pl>
 -->

<html>
    <body>
        <h1>MADCODERS</h1>
        <h2>Size Chart Plugin</h2>
        <div>
            <a href="https://www.madcoders.co">www.madcoders.co</a>
        </div>
    </body>
</html>
